.center-main {
  text-align: center;
  position: absolute;
  padding: 20px;
  padding-top: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  max-width: 300px;
  font-family: "kanit";
  border: 2px solid rgb(215, 192, 255);
  background: rgba(14, 14, 14, 0.7);
  box-shadow: 0px 0px 500px rgb(15, 15, 15);
  cursor: default;
  transition: 0.25s all ease-in-out;
}

.center-main:hover {
  background: rgba(14, 14, 14, 0.8);
  transition: 0.25s all ease-in-out;
}

.center-main h1 {
  font-size: 3.5rem;
  margin: 0;
  margin-bottom: 10px;
}

.center-main p {
  margin: 5px;
  font-size: 0.8rem;
  font-weight: 100;
}

.social-icons {
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
  display: flex;
}

.social-icon {
  text-decoration: none;
  color: white;
  padding: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  overflow: hidden;
}

.social-icon:hover {
  background-color: #fff;
  color: #000;
}
